<div class="calendar">
  <table>
    <thead>
      <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Вс</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>
          <span class="active">2</span>
        </td>
        <td class="events">
          <span class="selected">3</span>
        </td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td>8</td>
        <td>9</td>
        <td class="events">
          <span>10</span>
        </td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
      </tr>
      <tr>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>
          <span class="disabled">1</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>