<div class="form-dialog">
  <div class="form-dialog-item">
    <ion-label>Время</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [value]="currentDate"></ion-datetime>
  </div>

  <div class="form-dialog-item">
    <ion-label>Событие</ion-label>
    <ion-input placeholder="Добавьте событие..." type="text"></ion-input>
  </div>

  <div class="form-dialog-item">
    <ion-label>Описание</ion-label>
    <ion-textarea placeholder="Добавьте описание..."></ion-textarea> 
  </div>
</div>
